<mat-card>
    <mat-card-header class="header-centrado">
        <mat-card-title>Formulario de Ingreso</mat-card-title>
    </mat-card-header>
    <mat-divider class="estilo-divider"></mat-divider>
    <mat-card-content>
        <div class="contenedor-elementos">
            <form [formGroup]="form" #frmDescarga="ngForm" (ngSubmit)="operar()">
                <div [hidden]="true">
                    <mat-form-field class="form-field">
                        <mat-label>Código Descarga</mat-label>
                        <input matInput placeholder="ID" required formControlName="idDescarga">
                    </mat-form-field>
                </div>

                <mat-form-field appearance="outline" class="margen-top form-field">
                    <mat-label>Nombre Descarga</mat-label>
                    <input matInput placeholder="Nombre" required formControlName="nombre" placeholder="Ingrese nombre">
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                    <mat-label>Ubicación Descarga</mat-label>
                    <input matInput placeholder="Ubicación" required formControlName="ubicacion"
                        placeholder="Ingrese ubicación">
                </mat-form-field>

                <mat-card-actions class="button-group">
                    <button mat-raised-button color="primary" type="submit" [disabled]="frmDescarga.invalid">
                        <mat-icon>done</mat-icon>
                        <span>Aceptar</span>
                    </button>

                    <button mat-raised-button color="accent" type="button" routerLink='/descarga'>
                        <mat-icon>close</mat-icon>
                        <span>Cancelar</span>
                    </button>
                </mat-card-actions>
            </form>
        </div>
    </mat-card-content>
</mat-card>