mat-card {
    max-width: 700px;
    margin: 30px auto;
    padding: 20px;
    /* centra horizontalmente */
    align-items: stretch;
    display: flex;
    flex-direction: column;
}

.estilo-divider {
    margin-top: 25px;
    margin-bottom: 10px;
}

.header-centrado {
    display: flex;
    /* centra horizontalmente los hijos */
    justify-content: center;
}

.header-centrado mat-card-title {
    /* Centra el texto dentro del título */
    text-align: center;
}

.form-field {
    /* hace que cada input ocupe todo el ancho */
    width: 100%;
    margin-bottom: 1rem;
}

.actions-container {
    display: flex;
    /* centra el botón horizontalmente */
    justify-content: center;
}

.margen-top {
    padding-top: 10px;
}

/* Contenedor de botones centrado */
.button-group {
    display: flex;
    /* centra los botones horizontalmente */
    justify-content: center;
    /* separación entre botones */
    gap: 16px;
    /* en pantallas pequeñas los botones bajan de línea */
    flex-wrap: wrap;
}

.contenedor-elementos {
    /* ancho máximo en pantallas grandes */
    max-width: 100%;
    /* ocupa todo el ancho posible */
    width: 100%;
    /* centrado horizontal */
    margin: 20px auto;
    /* Separación interna */
    padding: 20px;
    display: flex;
    flex-direction: column;

    background-color: rgba(255, 255, 255);
    /*background-color: rgba(250, 249, 253);   parecido al stepper*/
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* evita que padding rompa el ancho */
    box-sizing: border-box;
    /* separa los campos verticalmente */
    gap: 16px
}

/* Campos del formulario ocupan todo el ancho */
.contenedor-elementos mat-form-field {
    width: 100%;
    box-sizing: border-box;
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 600px) {
    .contenedor-elementos {
        padding: 12px;
        margin: 10px 0;
        border-radius: 0;
    }
}