<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Simple HttpErrorPages | MIT License | https://github.com/HttpErrorPages -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>500 - Error del servidor</title>
</head>

<body>
    <div class="cover">
        <h1>Acceso denegado <small>Error 500</small></h1>
        <p class="lead">Error del servidor</p>
        <a routerLink="/mapa">Ir al mapa</a>
    </div>

</body>

</html>