<app-loading></app-loading>
<mat-sidenav-container class="sidenav-container">
  <!-- Menú lateral -->
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav" *ngIf="loginService.estaLogueado()">
    <mat-toolbar color="primary" class="sidenav-header">
      <mat-icon>home</mat-icon>
      <span class="title">SEDRAL</span>
    </mat-toolbar>

    <mat-nav-list>

      @for (m of menus; track m.idMenu) {
      <a mat-list-item routerLink={{m.url}} routerLinkActive="active-link" class="menu-item">
        <mat-icon matListIcon>{{m.icono}}</mat-icon>
        <span>{{m.nombre}}</span>
      </a>
      }

      <a mat-list-item routerLinkActive="active-link" class="menu-item" (click)="cerrarSesion()">
        <mat-icon matListIcon>exit_to_app</mat-icon>
        <span>Salir</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido principal -->
  <mat-sidenav-content>
    @if (!isLoginPage && !isErrorPage) {
    <mat-toolbar color="primary" class="toolbar">
      <span class="titulo">{{seccionActual}}</span>
    </mat-toolbar>
    }
    <div class="content" [class.full-height]="isErrorPage">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>